:root {
    --default-color: rgb(61, 210, 255);
    --disabled-button: rgba(204, 218, 227, 0.7);
    --enabled-button: rgb(43, 173, 212)
}


.title {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: white;
    background-color: var(--default-color);
    border-radius: 0px 0px 50% 50%;
    margin-top: -10px;
    height: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.small {
    font-size: 20px;
}

.content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.sub-content {
    width: 30%;
    text-align: center;
}

.subjects {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.textbox {
    width: 30%;
    height: 50px;
    border: 0px;
    border-radius: 5px;
    font-size: 40px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.terms {
    background-color: var(--default-color);
    border-radius: 8px;
    padding-bottom: 20px;
    padding-top: 10px;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    width: 42.5%;
    margin-left: 5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.gpabutton {
    margin-top: 50px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 50px;
    font-size: 40px;
    border-radius: 20px;
    border: 0px;
    background-color: var(--default-color);
    color: white;
}

.scount {
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scount *{
    margin: 2px;
}

.ccount {
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ccount *{
    margin: 2px;
}

button {
    font-size: 40px;
    width: 50px;
    height: 50px;
    background-color: var(--enabled-button);
    color: white;
    border: 0px;
    border-radius: 4px;
}

.switch-theme {
    background-color: rgba(14, 150, 247, 0);
    border: 0px;
    width: auto;
    height: auto;
}

.body-dark{
    background-color: black;
    color: white;
}

.terms-dark{
    background-color: rgb(34 34 34);
}

.fgpa {
    margin-top: 50px;
    width: 100%;
    text-align: center;
}

.igpa {
    padding-top: 20px;
}

.options {
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.option2 {
    margin-top: 10px;
    font-size: 24px;
}

.dropdown {
    width: 30%;
    font-size: 32px;
    border-radius: 8px;
    border: 0px;
}

.optiondropdown {
    width: 10%;
    height: 40px;
    font-size: 24px;
}

.off {
    display: none;
}

.disabled {
    background-color: var(--disabled-button); 
}

.installApp {
    width: 30%;
    margin-top: 20px;
    margin-left: 35%;
    margin-right: 35%;
}

@media screen and (max-width: 900px) {
    .terms {
      width: 90%;
    }
    .scount {
        font-size: 24px;
    }
    .optiondropdown {
        width: 20% ;
        font-size: 20px ;
    }
    button {
        width: 40px;
        height: 40px;
        font-size: 32px;
    }
    .installApp {
        font-size: 24px;
    }
}

@media screen and (max-width: 600px) {
    .terms {
      width: 90%;
    }
    .scount {
        font-size: 24px;
        display: flex;
        justify-content: space-evenly;
    }
    .optiondropdown {
        width: 30% ;
        font-size: 16px ;
    }
    .terms {
        font-size: 20px;
    }
    .textbox {
        font-size: 20px;
    }
    .dropdown {
        font-size: 20px;
    }
    .installApp {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .scount {
        font-size: 16px;
    }
    .terms {
        font-size: 16px;
    }
    .textbox {
        font-size: 16px;
    }
    .dropdown {
        font-size: 16px;
    }
    .ccount {
        font-size: 16px;
        display: flex;
        justify-content: space-around;
    }
}